<h1>Discounts Index Page</h1>
<% @merchant.discounts.each do |discount| %>
<div id="discount-<%= discount.id %>">
<p><%= discount.percentage %></p>
<p><%= discount.quantity_threshold %></p>
<p><%= link_to "View #{discount.id}", "/merchant/#{@merchant.id}/discount/#{discount.id}" %></p>
</div>
<% end %>

<p><%= link_to "Create Discount", "/merchant/#{@merchant.id}/discounts/new" %></p>